.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 50px;
}

.title {
  text-align: center;
  color: white;
}

.input {
  color: white !important;
}

img {
  width: 120px;
  height: 120px;
}
