.loader_deal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    background-color: black;
    padding: 5px;
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-align: center;
  }
}

.loaderrr {
  text-align: center;
}
