.popular_svg {
  height: 45px;
  width: 45px;

  @media (max-width: 560px) {
    height: 40px;
    width: 40px;
  }
}

.popular-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  text-align: center;

  font-size: 25px;

  @media (max-width: 560px) {
    font-size: 22px;
  }
}
