.gameslist {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gamelist-text {
  color: #000;
  padding: 50px 0 10px 0;
  text-align: center;

  @media (max-width: 1130px) {
    font-size: 25px;
  }
}

.hot_deals {
  height: 40px;
  height: 40px;
}

.allDeals {
  text-decoration: none;
  color: #000;
  margin-left: 80px;
}
