.dropdown {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  right: 50px;

  min-width: 350px;
  min-height: 200px;
  z-index: 200;
  border: 1px solid black;

  &-item {
    width: 100%;
    &_close {
      cursor: pointer;
      text-align: end;
      font-size: 24px;
      padding-right: 10px;
      border-bottom: 1px solid #000;
    }
    &_text {
      margin-top: 40px;
      text-align: center;
    }
  }

  &-link {
    text-decoration: none;
    color: black;
  }

  &-button {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid black;
    text-decoration: none;
  }
}

#droop {
  display: flex;
  flex-direction: column;
}
