.navbar-property {
  width: 33%;
  margin: auto;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;
      &:not(:last-child) {
        padding-right: 40px;

        @media (max-width: 800px) {
          padding-right: 10px;
        }
      }

      .cart-icon {
        &-svg {
          height: 25px;
          width: 25px;
        }
      }

      .cart {
        display: flex;
        align-items: center;
        font-size: 21px;
        color: white;
        text-decoration: none;
        cursor: pointer;

        @media (max-width: 800px) {
          position: fixed;
          top: 95%;
          left: 0;
          height: 50px;

          background-color: white;
          border-top: 1px solid #000;
          width: 100%;
          z-index: 100;

          display: flex;
          justify-content: center;
        }

        &-icon {
          position: relative;

          &-length {
            color: black;
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -35%);
          }
        }
      }

      a {
        font-size: 21px;
        color: white;
        text-decoration: none;

        display: flex;
        flex-direction: column;
      }
      img {
        width: 30px;
        fill: white;
      }
    }
  }
}

.loggout_text {
  font-size: 14px;
  color: #000;
}
