.features {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;

  @media (max-width: 766px) {
    flex-direction: column;
  }

  &_item {
    text-align: center;
    width: 300px;

    @media (max-width: 800px) {
      width: 250px;
    }

    &-svg {
      height: 50px;
      width: 50px;
    }

    &-text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

      &-head {
        font-size: 18px;
        font-weight: 800;
      }

      &-sub {
        color: #777777;
        width: 80%;
        margin: 6px auto;
        font-weight: 500;
        font-size: 15px;
      }

      &-desc {
        color: #777777;
        width: 70%;
        margin: auto;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}
