.footer {
  min-height: 100px;
  width: 100%;
  background-color: black;
}

.row {
  &_item {
    ul {
      list-style: none;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 10px 30px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.footer_rights {
  color: white;
  height: 100%;

  display: flex;
  justify-content: center;
  margin-top: 30px;
}
