.filterValue {
  width: 320px;
  height: 350px;

  margin: 30px 45px;

  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.897);
  text-align: center;

  padding: 10px;
  font-family: Roboto;
  border-bottom: 1px solid rgb(175, 167, 167);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-image {
    width: 220px;
    height: 120px;
    padding: 0;
  }
}
