.search {
  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  &_val {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
  }

  &-bar {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;

    &::placeholder {
      font-size: 20px;
      padding-left: 10px;
    }
  }
}
